@mixin font-wide($size:16px,$weight:700,$color:#666666){
  font-family: "微软雅黑 Bold", "微软雅黑 Regular", '微软雅黑', sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  font-style:normal
}

@mixin font-thin($size:14px,$color:#666666,$weight:400){
  font-family: '微软雅黑', sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  font-style:normal
}

@mixin border-left ($size:14px) {
  @include font-wide($size);
  border-left: 4px solid $colorA;
  padding-left: 8px;
  margin-bottom: 30px;
  margin-top: 30px;
}

@mixin business-list () {
  .approval-pass-ulst{
    border: 1px solid #E4E4E4;
    li:first-child{
      background-color: #F5F5F5;
      @include font-wide(14px);
    }
    li:last-child{
      border-bottom: none;
    }
    li{
      height: 40px;
      line-height: 40px;
      padding-left: 20px;
      @include font-thin;
      border-bottom: 1px solid #E4E4E4;
    }
    .left,
    .right{
      display: inline-block;
    }
    .left{
      width: 69.9%;
      border-right: 1px solid #E4E4E4;
    }
    .right{
      width: 29.9%;
      text-align: center;
    }
  }
}

@mixin approval-info () {
  .approval-font{
    margin-top: 30px;
    @include font-thin(14px,#999);
    line-height: 30px;
  }
}

@mixin on-off () {
  .on-off{
    position: relative;
    p {
      @include font-thin(14px,#999);
      margin: 30px 0;
    }
    p:nth-of-type(2){
      margin-top: -20px;
    }
  }
}

$colorA: #0079FE !default; //常用颜色


.v-enter,
.v-leave-to {
    opacity: 0;
    transform: translateY(80px);
}

.v-enter-active,
.v-leave-active {
    transition: all 0.6s ease;
}

/* 下面的 .v-move 和 .v-leave-active 配合使用，能够实现列表后续的元素，渐渐地漂上来的效果 */
.v-move {
    transition: all 0.6s ease;
}

.v-leave-active {
    position: absolute;
}